<ion-navbar *navbar>
  <button menuToggle="leftMenu">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Ionic2 Geofence Example</ion-title>
</ion-navbar>

<ion-content class="geofence-list-page">
  <ion-list inset *ngIf="!isLoading && geofences.length > 0">
    <geofence-list-item *ngFor="#geofence of geofences" [geofence]="geofence" (onItemTapped)="geofenceItemTapped(geofence)">
    </geofence-list-item>
  </ion-list>
  <ion-card *ngIf="!isLoading && geofences.length === 0">
    <ion-card-header>
      There is no geofences yet.
    </ion-card-header>
  </ion-card>
  <ion-card *ngIf="isLoading">
    <ion-card-header>
      Loading geofences...
    </ion-card-header>
  </ion-card>
</ion-content>

<button fab fab-right fab-bottom (click)="new()">
  <ion-icon name="add"></ion-icon>
</button>
