<ion-navbar *navbar>
  <ion-title>Ionic 2 Geofence Example</ion-title>
</ion-navbar>

<ion-content class="geofence-list-page">

  <ion-list *ngIf="!isLoading && geofences.length > 0">
    <ion-item-sliding *ngFor="#geofence of geofences">
      <ion-item (click)="itemTapped($event, geofence)">
        <p>{{geofence.notification.text}}</p>
      </ion-item>
      <ion-item-options>
        <button (click)="remove(geofence)">Remove</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-card *ngIf="!isLoading && geofences.length === 0">
    <ion-card-header>
      There is no geofences yet.
    </ion-card-header>
  </ion-card>
  <ion-card *ngIf="isLoading">
    <ion-card-header>
      Loading geofences...
    </ion-card-header>
  </ion-card>
  <button fab fab-right fab-bottom (click)="new()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-content>
